/* BONNE STRUCTURATION */
body {	
}

header {	
}

figure {
}


#logo_header 
{
		float: left;
}

img {
}

#affichage_nom_prenom_utilisateur 
{
	display: none;
}

login 
{
	text-align: right;
}

#formulaire_identification {
}

#username {
}
#password {
}

button {
}

p {
}


#creation_compte 
{
		display: none;
}

#name {
}

#firstname {
}

#secretquestion {
}

#answer_secretquestion {
}

#contenu_apres_login {
}

#section_presentation 
{
		clear: both;
}

h1 {
}

#section_acteurs 
{
		border: 2px gray solid;
}


h2 {
}

.bloc_acteur 
{
		border: 2px red solid;
}

h3 {
}

a {
}

#section_footer 
{
	text-align: center;

}






