@charset "UTF-8";
/* CSS Document */


/* Ajout de polices */


@font-face {
font-family: 'lato light';
src: url('fonts/Lato-Light.ttf');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'lato thin';
src: url('fonts/Lato-Thin.ttf');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'lato lightitalic';
src: url('fonts/Lato-LightItalic.ttf');
font-weight: normal;
font-style: normal;
}


/* ELEMENTS PRINCIPAUX */


body {	
	background-color: #F8F8F8;
	font-family: lato light;
}

p, li {
	margin-left: 40px;
}

h1, h2, h3 {
	font-size: 1.2em;
	margin-left: 40px;
}

a {
	text-decoration: none;
	color: black;
	font-weight: 600;
}


/* HEADER */


header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: white;
}

#logo_header {
	width: 80px;
	height: auto;
}


/* IDENTIFICATION */


.page_identification {
	display: block;
}

#nom_prenom_utilisateur {
	display: none;
	align-items: center;
	margin-right: 35px;
}

#contenu_page {
	display: block;
}

#logo_login {
	width: 30px;
	height: 30px;
	margin-right: 10px;
}


/* Identification - Premiere page */


#formulaire_login {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
	background-color: white;
	border: 1px dashed #2C2C2C;
}

label {
	font-size: 0.8em;
	font-weight: 600;
	color: #2C2C2C;
	margin-left: 60px;
}

#login_welcome, #login_createaccount {
	text-align: center;
}

#login_welcome {
	margin-top: 50px;
	margin-bottom: 35px;
	color: #2C2C2C;
}

#welcome_text {
	font-size: 1.5em;
	font-family: lato thin;
}

#pleaselogin_text {
	margin-top: 30px;
	font-family: lato lightitalic;
	font-weight: 500;
}

#username_login {
	margin-right: 10px;
	margin-top: 6px;
	font-size: 1em;
}

#password_login {
	margin-top: 6px;
	font-size: 1em;
}

.element_valider button {
	margin-left: 17px;
	margin-top: 6px;
	padding: 6px;
	background-color: #f51f28;
	border: 1px solid #f51f28;
	border-radius: 20px;
	width: 70px;
	color: white;
}

#formulaire_login input {
	border: 1px dotted #2C2C2C;
	border-radius: 7px;
	padding: 3px;
}

#login_createaccount {
	font-family: lato thin;
	margin-top: 50px;
	margin-bottom: 100px;
	font-size: 0.85em;
	color: #2C2C2C;
}


/* REGISTRATION.PHP */


#titre_creeruncompte {
	margin-top: 50px;
	font-size: 1.5em;
	font-family: lato thin;
	text-align: center;
	margin-right: 45px;
}

#pleasecomplete_registration p {
	margin-top: 30px;
	font-family: lato lightitalic;
	font-weight: 500;
	text-align: center;
	margin-right: 45px;	
}

#block_namefirstname {
	margin-top: 70px;
}

#block_namefirstname, #block_usernamepassword, #block_validation {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.blockq_secretquestion {

text-align: center;
margin-top: 30px;

}

.blockq_answer {
	margin-top: 20px;
	text-align: center;
}

.blockq_answer label {
	padding-right: 217px;
}


#formulaire_inscription label, input {
	margin-bottom: 17px;
	margin-right: 60px;
	margin-left: 60px;
}

#formulaire_inscription input {
	border: 1px dotted #959595;
	border-radius: 7px;
	padding: 3px;
	margin-bottom: 15px;
}

#block_validation button {
	margin-top: 50px;
	margin-bottom: 44px;
	margin-right: 15px;
}

.prev_button button {
	margin-left: 17px;
	margin-top: 6px;
	padding: 6px;
	background-color: white;
	border: 1px sild black;
	border-radius: 20px;
	width: 70px;
}


#name_registration, #firstname_registration, #username_registration, #password_registration, #answerquestion_registration {
	margin-top: 2px;
}


/* RESET_PASSWORD.PHP */


#form_resetpassword {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}


/* INDEX.HTML - SECTION PRESENTATION */


#titre_gbaf {
	margin-top: 40px;
}

#section_presentation {
	clear: both;
}

#image_presentation {
	width: 100%;
	height: 40%;
	border: 3px dotted #959595;
	margin-top: 30px;
}


/* INDEX.HTML - SECTION ACTEURS */


#titre_section_acteurs {
	text-align: center;
	margin-top: 60px;
}

#description_partenaires_acteurs {
	font-style: italic;
	text-align: center;
	margin-bottom: 60px;
}

#conteneur_acteurs {
	display: flex;
	flex-direction: column;
	border: 1px solid #959595;
}

.bloc_acteur {
	border: 1px #959595 solid;
	margin: 10px;
	padding: 20px;
}

#lien_vers_acteur_index {
	margin-left: 40px;
}

.lien_lirelasuite, #lien_lirelasuite {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 1px #959595 solid;
	border-radius: 10px;
	width: 100px;
	height: 30px;
	margin-left: 80%;
	margin-top: 20px;
	text-decoration: none;
	color: #959595;
	font-weight: 600;
}

#logo_acteur1, #logo_acteur2, #logo_acteur3, #logo_acteur4 {
	width: 30%;
	height: 30%;
	border: 1px solid #959595;
}


/* SECTION FOOTER */


#section_footer {
	margin-top: 40px;
	text-align: center;
	font-size: 0.8em;
	color: #FFFFFF;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #181818;
}

#section_footer a {
	color: #FFFFFF;
}


/* ACTEUR HTML - SECTION ACTEUR */


#section_acteur img {
	width: 300px;
	height: auto;
	border: 1px #959595 solid;
	border-radius: 20px;
	margin-top: 70px;
	margin-bottom: 75px;	
}

#lien_vers_acteur {
	margin-left: 40px;
}


/* ACTEUR.HTML - SECTION COMMENTAIRES */


#section_commentaires {
	border: 1px #2C2C2C dashed;
	background-color: white;
	margin-top: 100px;
}

.commentaire {
	border: 1px #2C2C2C dotted;
	margin-top: 20px;
	margin-right: 40px;
	margin-left: 40px;
	margin-bottom: 20px;
	border-radius: 10px;
	padding: 20px;
}

button {
	margin-left: 40px;
}