@charset "UTF-8";
/* CSS Document */


/* Ajout de polices */


@font-face {
font-family: 'lato light';
src: url('fonts/Lato-Light.ttf');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'lato thin';
src: url('fonts/Lato-Thin.ttf');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'lato lightitalic';
src: url('fonts/Lato-LightItalic.ttf');
font-weight: normal;
font-style: normal;
}


/* ELEMENTS PRINCIPAUX */


body {	
	background-color: #F8F8F8;
	font-family: lato light;
}

p, li {
	margin-left: 40px;
}

h1, h2, h3 {
	font-size: 1.2em;
	margin-left: 40px;
}

a {
	text-decoration: none;
	color: black;
}

button {
	margin-left: 40px;
}

label {
	font-size: 0.8em;
	font-weight: 600;
	color: black;
	margin-left: 40px;
}

/* HEADER */

#header_homepage {
	display: flex;
	justify-content: center;
	background-color: white;
	margin-left: 8px;
}


#header_content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: white;
}

#logo_header {
	width: 80px;
	height: auto;
}

#myaccount {
	text-align: right;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
	font-size: 0.78em;
	font-weight: 600;
}

.namefirstame {
	display: flex;
	align-items: center;
	margin-right: 20px;
}


/* LOGIN */


.page_identification {
	display: block;
}


#contenu_page {
	display: block;
}

#logo_login {
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

#formulaire_login {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: auto;
	padding: 50px;
	background-color: white;
}


#login_welcome, #login_createaccount {
	text-align: center;
}

#login_createaccount a {
	font-weight: 600;
}

#login_welcome {
	margin-top: 50px;
	margin-bottom: 35px;
	color: #2C2C2C;
}

#welcome_text {
	font-size: 1.5em;
	font-family: lato thin;
}

#pleaselogin_text {
	margin-top: 30px;
	font-family: lato lightitalic;
	font-weight: 500;
}

#username_login {
	margin-right: 12px;
	margin-top: 6px;
	font-size: 1em;
}

#password_login {
	margin-top: 6px;
	margin-right: 10px;
	font-size: 1em;
}

.element_valider button {
	margin-top: 6.5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: white;
	border: 1px solid #f51f28;
	border-radius: 20px;
	color: #f51f28;
	font-size: 0.63em;
	font-weight: 600;
}

#formulaire_login input {
	border: 1px dotted black;
	border-radius: 7px;
	padding: 2px;
}

#login_createaccount {
	font-family: lato thin;
	margin-top: 50px;
	margin-bottom: 100px;
	font-size: 0.85em;
	color: #2C2C2C;
}


/* REGISTER.PHP */


#titre_creeruncompte {
	margin-top: 50px;
	font-size: 1.5em;
	font-family: lato thin;
}

#pleasecomplete_registration p {
	margin-top: 30px;
	font-family: lato lightitalic;
	font-weight: 500;
	margin-bottom: 30px;
}

#formulaire_inscription label, input {
	margin-bottom: 17px;
	margin-left: 40px;

}

#formulaire_inscription input {
	border: 1px dotted #959595;
	border-radius: 7px;
	padding: 3px;
	margin-bottom: 15px;
}

#block_validation button {
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 600;
}

.prev_button button {
	margin-left: 40px;
	padding: 6px;
	background-color: white;
	border-radius: 20px;
	width: 70px;
}

#maquestion, #question_secrete {
	margin-left: 40px;
	margin-bottom: 10px;
	margin-top: 10px;
}

/* INDEX.PHP - SECTION PRESENTATION */


#titre_gbaf {
	margin-top: 40px;
}

#section_presentation {
	clear: both;
}

#image_presentation {
	width: 100%;
	height: 40%;
	border: 3px dotted #959595;
	margin-top: 30px;
}


/* INDEX.PHP - SECTION ACTEURS */


#titre_section_acteurs {
	text-align: center;
	margin-top: 60px;
}

#description_partenaires_acteurs {
	font-style: italic;
	text-align: center;
	margin-bottom: 60px;
}

#conteneur_acteurs {
	display: flex;
	flex-direction: column;
	border: 1px solid #dfdfdf;
	background-color: white;
	margin-top: 20px;
}

.bloc_acteur {
	border: 1px #dfdfdf dotted;
	margin: 10px;
	padding: 20px;
	background-color: white;
}

#lien_vers_acteur_index {
	margin-left: 40px;
	color: gray;
}

#lien_lirelasuite {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 1px solid #f51f28;
	border-radius: 20px;
	width: 100px;
	height: 30px;
	margin-left: 80%;
	margin-top: 20px;
	color: #f51f28;
	font-weight: 600;
	font-size: 0.8em;
	padding-left: 7px;
	padding-right: 7px;
	font-weight: 600;
}

#logo_acteur1, #logo_acteur2, #logo_acteur3, #logo_acteur4 {
	width: 30%;
	height: 30%;
	border: 1px solid #959595;
}


/* FOOTER */


#section_footer {
	margin-top: 40px;
	text-align: center;
	font-size: 0.8em;
	color: #FFFFFF;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #181818;
}

#section_footer a {
	color: #FFFFFF;
}


/* ACTOR.PHP - SECTION ACTEUR */


#section_acteur img {
	width: 300px;
	height: auto;
	border: 1px #959595 solid;
	border-radius: 20px;
	margin-top: 70px;
	margin-bottom: 75px;	
}

#lien_vers_acteur {
	margin-left: 40px;
}


/* ACTOR.PHP - SECTION COMMENTAIRES */


#section_commentaires {
	background-color: white;
	margin-top: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.commentaire {
	border: 1px #2C2C2C dotted;
	margin-top: 20px;
	margin-right: 40px;
	margin-left: 40px;
	margin-bottom: 20px;
	border-radius: 10px;
	padding: 20px;
}

/* COMMENT.PHP */

#fullform_comment label {
	font-size: 1em;
}

#form_writecomment 
{
    height: 500px;
    width: 500px;
}